/* generell-rules */
.container{
  font-family: Helvetica;
  text-align: center;
}
#top h1, #top a, #company h2, #footer, #footer a{
  color: white;
}

/* background-rules */
#top, #company h2{
  background-image: url('./../images/the-flatiron-building.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
#footer{
  background-color: dimgray;
  text-align: left;
}

/* list-rules */
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
  display: inline;
}

/* text-rules */
h3, #company h2{
  font-size: 23px;
  font-weight: bold;
}
main p{
  font-size: 14px;
  font-weight: normal;
}
#top h1{
  font-size: 70px;
}
#top a{
  font-size: 18px;
}
#process h2{
  font-size: 32px;
}
li span{
  font-size: 11px;
}
