body{
  text-align: center;
  font-family: Helvetica;
}
.bcg-img{
  background-image: url("./../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  color: white;
}
li{
  list-style-type: none;
}
/** header-section */
#main-header{
  font-size: 70px;
  font-weight: bold;
}
#main-nav{
  font-size: 18px;
}

/** main-section */
h3{
  font-size: 23px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
p{
  font-size: 14px;
}

/** footer-section **/
#footer{
  background-color: dimgray;
  text-align: left;
  color: white;
}
#footer li{
  display: inline;
}
